.about_company_words_container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 400px;
    width: 80%;
    margin: 50px auto 0 auto;    /* margin: top right bottom left; */

    /* background-color: rgb(255, 255, 255); */
}

.about_company_words_content {
    display: flex;
    /* align-items: flex-start;
    justify-content: space-between; */

    height: 100%;
    width: 100%;
    /* gap: 150px; */
}

.about_company_tagline_details {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    height: 100%;
    width: 35%;
}

.about_company_tagline_text {
    color: var(--font-blue);
    font-family: "Thin_Formal_Italics";
    text-align: left;
    font-size: 40px;
    font-weight: bold;
}

.about_company_tagline_desc {
    color: var(--font-blue);
    font-family: "Thin_Formal_Clean";
    text-align: left;
    font-size: 25px;
    font-weight: bold;
}

.about_company_image_details {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 65%;

    /* background-color: rgb(192, 87, 87); */
}

.about_company_image {
    height: 90%;
    width: auto;
}