.page_content_container {
    align-items: flex-start;

    width: 100%;
    /* margin: auto auto 50px auto;    margin: top right bottom left; */
}

.about_company_words_container {
    align-items: center;
    justify-content: center;

    min-height: 400px;
    height: auto;
    width: 100%;
    /* margin: 50px auto 0 auto;    margin: top right bottom left; */
}

.maeve_bio_container {
    display: block;
    /* align-items: flex-start;
    justify-content: space-between; */

    height: auto;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
}

.joey_bio_container {
    display: block;
    /* align-items: flex-start;
    justify-content: space-between; */

    background-color: var(--navy-blue);

    height: auto;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
}

.matt_bio_container {
    display: block;
    /* align-items: flex-start;
    justify-content: space-between; */

    height: auto;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
}

.bio_inner_container {
    width: 80%;
    margin: 0 auto 0 auto;
}

.bio_details {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    height: auto;
}

.bio_text {
    color: var(--header-color);
    font-family: "Thin_Formal_Clean";
    text-align: left;
    font-size: 40px;
    font-weight: bold;
}

.bio_desc {
    color: var(--desc-color);
    font-family: "Open_Sans";
    text-align: left;
    font-size: 20px;
}

.joey_bio_text {
    color: var(--imperfect-white);
}

.joey_bio_desc {
    color: var(--imperfect-white);
}

.about_company_image_details {
    display: flex;
    align-items: center;
    justify-content: center;

    height: auto;

    /* background-color: rgb(192, 87, 87); */
}

.about_company_image {
    max-height: 360px;
    max-width: 100%;
    height: auto;
    width: auto;
}