.page_content_container {
    align-items: flex-start;
    margin: auto auto 50px auto;    /* margin: top right bottom left; */
}

.about_company_words_container {
    align-items: flex-start;

    min-height: 400px;
    height: auto;
    width: 80%;
    margin: 50px auto 0 auto;    /* margin: top right bottom left; */

    /* background-color: rgb(255, 255, 255); */
}

.about_company_words_content {
    display: block;
    /* align-items: flex-start;
    justify-content: space-between; */

    height: auto;
    width: 100%;
    /* gap: 150px; */
}

.about_company_tagline_details {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    height: auto;
}

.about_company_tagline_text {
    color: var(--header-color);
    font-family: "Thin_Formal_Clean";
    text-align: left;
    font-size: 40px;
    font-weight: bold;
}

.about_company_tagline_desc {
    color: var(--desc-color);
    font-family: "Open_Sans";
    text-align: left;
    font-size: 20px;
}

.about_company_image_details {
    display: flex;
    align-items: center;
    justify-content: center;

    height: auto;

    /* background-color: rgb(192, 87, 87); */
}

.about_company_image {
    max-height: 360px;
    max-width: 100%;
    height: auto;
    width: auto;
}