.newsletter_content_container { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
 
    min-height: calc(100dvh - 75px - 100px - 100px - 4px); 
    width: 100%; 
 
    padding: 70px 24px; 
} 
 
 
.newsletter_placeholder { 
    width: min(760px, 92%); 
 
    text-align: center; 
} 
 
 
.newsletter_message { 
    color: var(--navy-blue); 
 
    font-family: "Open_Sans"; 
    font-size: 50px; 
    font-weight: 600; 
 
    margin: 0; 
 
    white-space: nowrap; 
} 
 
.newsletter_message_desc { 
    color: var(--navy-blue); 
 
    font-family: "Open_Sans"; 
    font-size: 20px; 
 
    margin: 0; 
    margin-top: 50px; 
}

.mobile_break {
    display: none;
}
 
 
@media (max-width: 767.98px) { 
 
    .newsletter_message { 
        font-size: 32px; 
    }

    .mobile_break {
        display: inline;
    }
 
}