.resource_links {
    display: flex;
    flex-direction: column;

    width: 80%;
    margin: 50px auto 0 auto;
    gap: 10px;
}

.resource_links a {
    color: var(--header-color);
    font-family: "Open_Sans";
    text-align: left;
    font-size: 30px;
    text-decoration: underline; /* removes the underline from links */
}